<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rasjdd.udacity.mybakingapp">

    <!-- Set Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppSupervisor"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.rasjdd.udacity.mybakingapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mybakingapp"
                    android:scheme="recipelist" />
            </intent-filter>
        </activity>

        <!--Step Detail Activity Dual Window Compatible-->

        <activity
            android:name=".StepDetailActivity"
            android:label="@string/title_step_detail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rasjdd.udacity.mybakingapp.MainActivity" />
        </activity>

        <!--Step Detail Activity Single Window Only-->

        <activity
            android:name=".StepDetailActivitySingle"
            android:label="@string/title_step_detail_single"
            android:parentActivityName=".StepDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rasjdd.udacity.mybakingapp.StepDetailActivity" />
        </activity>

        <receiver android:name=".widget.IngredientListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_list_widget_info" />
        </receiver>

        <service
            android:name=".widget.IngredientListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>